body{
    margin:0 auto ;

}

.container{

    width: 100%;
    height:auto;
    max-width: 10000px;
    overflow: hidden;
    box-sizing: border-box;
}
/* */
.form-group{
    
    overflow: hidden;
    width: 30%;
    text-align: center;
    margin: 15px auto;

}

[type='number']{
    width: 50%;
}

/*table */

.table{
    margin: 0 auto;
    overflow:hidden;
    width: 50%;
}

.dataTable{
border-collapse: separate; /* separate  que los bordes del de la tabla* deben estar seprados */
opacity: 0.9;
width:100%; 
table-layout: fixed;
}

th, td{
    width:10%;
    height: auto;
    text-align: center;    
}

.productos th{
    background: #2888c4;
}

.productos tr:nth-child(even){
    background: #75915e;
}

.table-valores{
    margin: 10px 20px;
}


