body{
    margin:0 auto ;
}

.container{
    border:  black dotted ;
    width: 100%;
    height:auto;
    max-width: 10000px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}
/* */
.form-group{
    
    overflow: hidden;
    width: 30%;
    border: #2888c4 solid;
    text-align: center;
    margin: 10px 10px;

}

[type='number']{
    width: 50%;
}

/*table */

.table{
    border: red solid;
    overflow:hidden;
    width: 50%;
}

/*aside*/

aside{
    border: solid papayawhip;
    width: 20%;

}










.dataTable{
border-collapse: separate; /* separate  que los bordes del de la tabla* deben estar seprados */
opacity: 0.9;
width:100%; 
table-layout: fixed;
whi
}

th, td{
    width:10%;
    height: auto;
    text-align: center;    
}

.productos th{
    background: #2888c4;
}

.productos tr:nth-child(even){
    background: #75915e;
}

.table-valores{
    margin: 10px 20px;
}


